.stats-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #e0e0e0;

    width: 85%;
    height: 80%;

    border: 2px solid black;
    border-radius: 20px;
}

.stats-close {
  cursor: pointer;
}

.radar-naked-label {
    font-weight: bold;
    width: max-content;

    user-select: none;
}

.radar-label {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

    color: white;

    padding: 6px;

    width: max-content;

    user-select: none;
    cursor: pointer;
}
